*{
    margin: 0;
    padding: 0;
}

.cd1{
    font-size: 20px;
    font-weight: 500;
    padding: 0px 5px;
}
.cd1:hover{
    background-color: rgba(136, 136, 136, 0.795);
    border-style: double;
    border-radius: 5px;
}
.color{
    background-color: rgba(0, 0, 0, 0.774) !important;
    border-bottom: 8px solid rgba(255, 0, 149, 0.678);
    border-left: 7px solid rgba(195, 0, 255, 0.418);
    border-right: 2px  solid rgba(255, 0, 149, 0.678);
    border-top: 2px solid rgba(195, 0, 255, 0.418);
    border-radius: 100px 0px 100px 0px;
    
}       