body{
    min-height: 100% !important;
    max-height: max-content !important  ;
    padding-bottom: 0 !important;

}
#testimonial{
    padding: 0 !important;
    margin: 0 !important;
}
.cd1{
    font-size: 20px;
    font-weight: 500;
    padding: 0px 5px;
}
.cd1:hover{
    background-color: rgba(136, 136, 136, 0.795);
    border-style: double;
    border-radius: 5px;
}
.color{
    background-color: rgba(0, 0, 0, 0.774) !important;
    border-bottom: 8px solid rgba(255, 0, 149, 0.678);
    border-left: 7px solid rgba(195, 0, 255, 0.418);
    border-right: 2px  solid rgba(255, 0, 149, 0.678);
    border-top: 2px solid rgba(195, 0, 255, 0.418);
    border-radius: 100px 0px 100px 0px;
}

.b1 {
    font-size: 30px !important;
    font-family: 'Pacifico', 'Great Vibes', cursive;
    text-shadow: 0 0 5px #000000;
} 

.bg{

    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.tk{
     color: black;
}

.position{
   margin-top: 100px;
   margin-bottom: 0 !important;
   padding-bottom: 0 !important;
}

.page-header1 {
    position: relative;
    text-align: center;
}

.page-header1 h2 {
    position: relative;
    color: #000000;
    font-size: 60px;
    font-weight: 700;
} 

.page-header1 a {
    position: relative;
    padding: 0 1px;
    font-size: 22px;
    color: #000000;
    text-decoration: none;
}
.page-header1 h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    left: calc(50% - 50px);
    bottom: 0;
    background: #000000;
}

.footer {
    position: relative;
    display: flex;
    min-width: 50% !important;
    justify-self: center; 
    background-color:rgb(255, 255, 255);
    min-width: 100% !important;
}

.row1{
    margin-left: 100px !important;
    flex-wrap: nowrap;
}


.row1 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex
;
    flex-wrap: nowrap !important;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.row1 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex
;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 90px 0;
    text-align: center;
    background: #202C45;
    border-top: 1px dotted #ffffff;
}

.page-header h2 {
    position: relative;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 5px;
}   

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
}


.page-header .sb::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #ffffff;
}

.page-header h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    left: calc(50% - 50px);
    bottom: 0;
    background: #ffffff;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

a {
    color: #202C45;
    transition: .3s;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}


.footer .footer-contact p i {
    width: 25px;

}
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.footer .footer-contact, .footer .footer-link, .footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #000000;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
    display: flex
;
}

.footer .footer-social a {
    width: 40px;
    height: 40px;
    display: flex
;
    align-items: center;
    justify-content: center;
    color: #202C45;
    background: #ffffff;
    border-radius: 40px;
    margin-right: 5px;
    transition: .5s;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (min-width: 992px) {
    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-contact h2, .footer .footer-link h2, .footer .footer-newsletter h2 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #E81C2E;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #000000;
    transition: .3s;
    text-decoration: none;
    background-color: transparent;
}

.nobr {
  white-space: nowrap;
}

.price {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.section-header {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 45px auto;
}

.text-center {
    text-align: center !important;
}

.price .price-item {
    position: relative;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
}

.price .price-header {
    padding: 45px 0 30px 0;
}

.price .price-body {
    padding: 0 0 20px 0;
}

.price .price-item .price-footer .btn.btn-custom {
    color: #E81C2E;
    background: #202C45;
    box-shadow: inset 0 0 0 0 #E81C2E;
}

.btn.btn-custom {
    padding: 10px 30px 12px 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background: #E81C2E;
    border: none;
    border-radius: 60px;
    box-shadow: inset 0 0 0 0 #202C45;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}
a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.price .price-item .price-footer {
    padding-bottom: 45px;
}

.price .price-item {
    position: relative;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
}

div {
    display: block;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.price .price-body ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.price .price-header h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    color: #202C45;
}
.h3, h3 {
    font-size: 1.75rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.price .price-header h2 {
    display: flex
;
    align-items: flex-start;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 5px;
}

.price .price-header h2 span {
    font-size: 25px;
    line-height: 55px;
}

.price .price-body ul li i.fa-check-circle {
    color: #39B972;
}

.price .price-body ul li i {
    margin-right: 10px;
}

.fa-check-circle:before {
    content: "\f058";
}

.section-header p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: #E81C2E;
}

.section-header p {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #E81C2E;
}

.section-header h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
}

.price .featured-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    z-index: 1;
}
.price .price-item.featured-item h2, .price .price-item.featured-item h3 {
    color: #E81C2E;
}

.price .price-item .price-footer .btn.btn-custom:hover {
    color: #ffffff;
    background: #E81C2E;
    box-shadow: inset 200px 0 0 0 #E81C2E;
}

.price .price-item.featured-item .price-footer .btn.btn-custom:hover {
    color: #E81C2E;
    background: #202C45;
    box-shadow: inset 200px 0 0 0 #202C45;
}

.price .price-item.featured-item .price-footer .btn.btn-custom {
    color: #ffffff;
    background: #E81C2E;
    box-shadow: inset 0 0 0 0 #202C45;
}

.contact .contact-info {
    width: 100%;
    margin-bottom: 45px;
    padding: 35px 30px 10px 30px;
    border-radius: 5px;
    background: #202C45;
}

.contact .contact-info h2 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}

.contact .contact-info-item {
    display: flex
;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}   

.contact .contact-info-icon i {
    margin: 0;
    color: #202C45;
    font-size: 16px;
}

.fa-map-marker-alt:before {
    content: "\f3c5";
}

.contact .contact-info-text h3 {
    margin: 0 0 5px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.contact .contact-info-text p {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.contact .contact-info-icon {
    width: 50px;
    height: 50px;
    display: flex
;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 50px;
}

.contact .contact-info-text {
    padding-left: 20px;
}

.contact .contact-form {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.btn.btn-custom:hover {
    color: #E81C2E;
    background: #202C45;
    box-shadow: inset 200px 0 0 0 #202C45;
}

.btn.btn-custom {
    padding: 10px 30px 12px 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background: #E81C2E;
    border: none;
    border-radius: 60px;
    box-shadow: inset 0 0 0 0 #202C45;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}